<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Zach Kohl</title>
</head>
<nav>
    <div class="logo">
        <h4>The Nav</h4>
    </div>

<ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">about</a></li>
    <li><a href="#">Work</a></li>
    <li><a href="#">Our Projects</a></li>
</ul>
<div class="burger ">
    <div class="line1 toggle"></div>
    <div class="line2 toggle"></div>
    <div class="line3 toggle"></div>
</div>
</nav>
<script src="app.js"></script>
<body>






</body>

</html>