<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h1 class="masthead-brand">Paccenter</h1>
      <h2>Password Reset</h2>
    </div>
  </header>
  {{#if message}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/if}}
  <main role="main" class="inner cover">


    <form class="login needs-validation" id="needs-validation" novalidate="" method="post">

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Current Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control inputlogin" name="password" id="password1" placeholder="Password" required="">
          <div class="invalid-feedback">
            Current password is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">New Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control inputpass inputlogin" name="newPassword" id="password2" placeholder="Password"
            required="">
          <div class="invalid-feedback">
            New password is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Retype New Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control inputpass inputlogin" id="password3" placeholder="Retype Password" required="">
          <div class="invalid-feedback">
            Passwords must match
          </div>
        </div>
      </div>
      <input type="submit">
    </form>


  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      
    </div>
  </footer>
</div>

{{!--
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->--}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script>
  //Form validation, make sure you only have one form

  window.addEventListener('load', function () {

    var form = document.getElementById('needs-validation')
    //form.addEventListener('submit', function(event){
    $('.needs-validation').on('submit', function (event) {
      form.classList.remove('was-validated')
      console.log($('#password2').val())
      console.log($('#password3').val())
      if ($('#password2').val() != $('#password3').val()) {

        let element = $('#password3')[0];
        console.log(element.validity)
        element.setCustomValidity("Invalid field.")
        console.log(element.validity)
        console.log('new passwords do not match')
        validCheck();
      }
      else {
        let element = $('#password3')[0];
        element.setCustomValidity("")
        validCheck();
      }

      function validCheck() {
        if (form.checkValidity() === false) {
          console.log('validity check worked')
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');

      }//end validCheck

    })//addEventListener 

  }) //end load function



</script>