/* 
CSS for zachkohl.com
By Zach Kohl
*/



/* 
========================================================
container
========================================================
 */




/* 
========================================================
NavBar
========================================================
 */

.navContainer{
    position:fixed;
    height:100px;
    min-width:100%;
    background-color:#171B31;
    z-index:100;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left:1%;
}

.branding a{
color:white;
text-decoration: none;
}

.nomarg{
    min-width:100%;
    padding:0;
    margin:0;
}


nav{
    background-color:#171B31;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin:0;

}

nav ul{
    margin:0;
    padding:0; 
}




.nav-links li{
    display:inline-flex;
    list-style-type: none;
    margin:0;
    padding-right:1rem;
    
}

.nav-links a{
    color:rgba(255, 255, 255, 0.918);
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    
}

.burger{
    display: none;
    cursor: pointer;
}


.burger div{
    width: 25px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.918);
    margin:5px;
}



@media screen and (max-width:768px){

    .wrapper{
        overflow-x:hidden;
        width:100%;
        position: absolute;
       }
      
.nav-links{
    position: absolute;
    height:100vh;
    top:0;
    right:0px;
    background-color:#171B31;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    width: 50%;
    z-index: 13;
padding:0;
margin:auto;
transform: translateX(100%);
    transition: transform 0.5s ease-in;

}



@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50xp);
      
    }
    to{
        opacity:1;
        transform: translateX(0px)
    }
}

.nav-links li{
    opacity: 1;
  margin:auto;
}

.nav-links a{
    
vertical-align: middle;
text-align: center;
}




.burger{
    position: relative;
    display:block;
    margin-left:auto;
    margin-right:5%;
  z-index: 14;

}

.nav-active{
    transform: translateX(0%);
}

.toogle .line1{
    transform: rotate(-45deg) translate(-.3rem, .6rem)
}

.toogle .line2{
    opacity: 0;
}

.toogle .line3{
    transform: rotate(-45deg) translate(-.3rem, .6rem)
}

}

/* 
END NAVBAR
 */







 /* ========================================================
 first pane
 ======================================================== 
 */
  .firstpane{
     min-width:100%;
     min-height: 100vh;
     background-color:#C1D3E4;
     padding-top:5%;
 } 













 .bluebox{
    position: relative;

    display:block;
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    padding:10%;
    display: flex;
    justify-content: center;

}




.aboutImage{
    border-radius:25px;
    top:0;
    right:0;
    position: absolute;
  float: right;
  z-index: 1;
  transition:transform 1s;

}

.aboutImage.selectLeft{
    transform: translate(-50%,50%);
}

.aboutImage.selectRight{
    transform: translate(-50%,50%);
    z-index:3;
}

.aboutImage.selectCenter{
    transform: translate(0%,0%);
}



.exampleImage{
    border-radius:25px;
    top:0;
    left:0;
    position: absolute;
    float: left;
    z-index: 1;
  
    transition:transform 1s;
  }



.exampleImage.selectLeft{
    transform: translate(50%,50%);
    z-index:3;
}


.exampleImage.selectRight{
    transform: translate(50%,50%);

}

.exampleImage.selectCenter{
    transform: translate(0%,0%);
}

  .contactImageDiv{
 border-radius:25px;
background-image:url('images/databasebackground.png');
min-height:500px;
min-width: 500px;
display:table;
text-align: center;
z-index:2;
transition:transform .5s;
  }

.contactButton{
    display:table-cell;
    vertical-align: middle;
    margin-top:50%;
}

.entranceLinks{
display:table-cell;
    vertical-align: middle;
}
  
 .databaseImage{
        float:right;
      position: relative;
 
    transition:transform .5s;
    
  }



.contactImageDiv.selectLeft{
    transform: translate(60%,-50%);
}


.contactImageDiv.selectRight{
    transform: translate(-60%,-50%);
}

.contactImageDiv.selectCenter{
    transform: translate(0%,0%);
}

.MobileFirstPane{
    display:none;
}



@media screen and (max-width:768px){
    .bluebox{
        display:none;
    }
    .MobileFirstPane{
        position: relative;
        display: flex;
      
        margin:0;
        min-width: 100%;
       
    }

    

    .MobileFirstPane a{
       color: white
    }

.ExampleLink{
    padding-top:100px;
    background-color:blue;
}

.aboutLink{
    background-color:brown;
}

.ContactLink{
    background-color:black;
}

    .MobileFirstPane a{
        position: block;
        vertical-align: middle;
        height: 100%;
        width: 100%;
        padding:10%;
    }

    .firstpaneColumn{
        padding:0;
    } 
}

/* 
========================================================
second pane
========================================================
 */

 .secondpane{
    min-width:100%;
    min-height: 100vh;
    background-color:#EDE4DD;
 } 

 .titleRow{
     padding:5%;
     display:flex;
     justify-content:center;
     align-items:center;
 }

.vimeo{

    display: block;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    align-content: center;
}

.descriptionBigTextRow{
    padding-top:25%;
    display:flex;
    justify-content:flex-start;

}

 /* 
========================================================
third pane
========================================================
 */

 .thridpane{
    min-width:100%;
    min-height: 100vh;
    background-color:rgb(113, 219, 71);
 } 

.puctureCol{
    margin-top:10%;
    display:block;
    
}

 .pictureCenter{
    display:flex;
    justify-content:center;

 }

 .aboutThridPaneCol{
     padding-top:5%;
     padding-left:5%;
 }

 /* 
========================================================
third pane
========================================================
 */

 .fourthpane{
    min-width:100%;
    min-height: 100vh;
    text-align: center;
    padding:25%;
 }